@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
.banner{
    height: 630px;
    background-color: $gray-blur;
    display: flex;
    align-items: center;
    &-desc{
        margin: 60px 0;
    }
    &-content{
        margin-top: auto;
        margin-bottom: auto;
        text-align: center;
    } 

    &-body{
        display: flex;
        align-items: center;
    }
    &-title{
        font-size: 100px;
        font-weight: 700;
        font-family: 'Dancing Script', cursive!important;    
    }
    &-desc{
        font-size: 42px;
        letter-spacing: 2px;
        font-weight: 300;
        color: $gray;
        text-transform: uppercase;
    }
    @media screen and (max-width: 1023px) {
        height: 560px;
        &-content {
            margin: 0 auto;
        }
        &-title{
            font-size: 80px;
        }
        &-desc{
            font-size: 35px;
            margin-top: 50px;
        }
    }

    @media screen and (max-width: 767px) {
        height: 380px;
        &-title{
            font-size: 50px;
        }
        &-desc{
            font-size: 20px;
            margin: 45px 0;
        }
        &-button{
            padding: 12px 20px;
            font-size: 15px;
        }
    }
    
    
}