.footer{
    background-color: #ebe3da;
    &-container{
        max-width: 1200px;
        padding: 0 15px;
        margin: 0 auto;
        // overflow: hidden;
    }
    &-top{
        display: flex;
        padding: 100px 0 50px; 
    }
    &-left{
        display: flex;
        justify-content: space-between;
        flex: 1;
    }
    
  
    &-title{
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 40px;
    }
    &-link{
        color: $gray;
        line-height: 2;
        font-size: 16px;
    }
    &-right{
        flex-basis: 25%;
    }

    &-app{
        padding-bottom: 30px;
        border-bottom: 1px solid #c4c8ca;
    }
    &-app-mobile{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-app-item{
        padding: 15px 15px;
        display: flex;
        align-items: center;
        border-radius: 3px;   
        background-color: #fff;
        width: calc(50% - 12px);
        .icon{  
            color: $orange-red;
            font-size: 19px;
        }
        transition: 0.3s linear;
    }

    &-app-item:hover{
        background-color: $orange-red;
        
        .icon{
            color: #fff;
        }
        .footer-desc{
            color: #fff;
        }
        .footer-heading{
            color: #fff;
        }
    }

    &-desc{
        font-weight: 400px;
        font-size: 10px;
        color: $gray;
    }
    &-heading{
        font-size: 13px;
        font-weight: 700;
        margin-top: 3px;
        color: #000;
    }
    &-content{
        margin-left: 8px;
    }
    &-social{
        margin-top: 30px;
        .title{
            margin-bottom: 25px;
        }
    }
    &-social-item{
        padding: 7px 11px;
        background-color: #fff;
        color: black;
        &:not(:first-child){
            margin-left: 5px;
        }
        transition: 0.3s linear;
    }

    &-social-item:hover{
        background-color: $orange-red;
        color: #fff;
        
    }

    &-bottom{
        border-top: 1px solid #c4c8ca;
        padding: 45px 0;
    }
    &-copy{
        margin: 0 auto;
        width: fit-content;
        font-size: 15px;
        color: $gray;
        letter-spacing: 0.5px;
        span{
            color: $orange-red;
        }
    }
    @media screen and (max-width: 1279px) {
        &-right{
            flex-basis: 30%;
        }
    }

    @media screen and (max-width: 1023px) {
        &-right{
            flex-basis: 37%;
        }
        &-top {
            padding-top: 70px;
        }
        &-title {
            font-size: 15px;
            margin-bottom: 20px;
        }
        &-link {
            font-size: 14px;
        }
        &-app-item {
            padding: 10px 10px;
        }
        &-headings {
            font-size: 12px;
        }
        &-app-item .icon{
            font-size: 17px;
        }
        &-app{
            padding-bottom: 25px;
        }
        &-social{
            margin-top: 25px;
        }
        &-bottom{
            padding: 25px 0;
        }
        &-copy{
            font-size: 14px;
        }
    }

    @media screen and (max-width: 767px) {
        &-top {
            padding-top: 20px;
            padding-bottom: 40px;
        }
      
        &-link {
            font-size: 13px;
        }
        &-title{
            font-size: 14px;
            margin-bottom: 13px;
        }
        &-heading {
            font-size: 12px;
        }
        &-desc{
            font-size: 9px;
            width: fit-content;
        }
        &-left{
            flex-direction: column;
            text-align: center;
        }
    
        &-right {
            width: 100%;
            margin-top: 20px;          
        }
        &-column:nth-child(2){
            margin-top: 10px;
        }
        &-column:nth-child(3){
            margin-top: 10px;
        }
        &-app{
            padding-bottom: 20px;
        }
        &-app-item {
            padding: 8px 8px;
        }
        &-social{
            margin-top: 20px;
        }
        &-copy{
            font-size: 13px;
        }
    }
    
    
    
}