
.header{
    
    .fixed {
        top: 0;
        position: fixed;
        width: 100%;
        z-index: 990;
        transition: all 1s ease;
        background-color: #fff;
    }
    &-top{
        background-color: $white-blur;
        font-size: 14px;
        padding: 10px 0;
    }
    &-left{
        display: flex;
        align-items: center;
    }
    &-phone{
        padding-right: 25px;
        border-right: 1px solid black;
    }

    &-email{
        margin-left: 20px;
    }

    &-right{
        display: flex;
        align-items: center;
        justify-content: flex-end;
       
    }

    &-info{
        margin-right: 20px; 
    }

    &-info:nth-child(3){
        margin-right: 3px;
        padding-left: 10px;
        border-left: 1px solid black;
        
    }
    .icon-inner{
       vertical-align: top;
    }

    &-title{
        font-size: 36px;
        font-weight: 800;
        color: #000;
        span{
            color: $orange-red;
        }
    }
    &-list > li > a {
        line-height: 86px;
        text-transform: uppercase;
    }

    &-item{ 
        display: inline-block;
        position: relative;
    }
    &-nav{     
        position: absolute;
        z-index: 10;
        background-color: #fff;
        min-width: 200px;
        left: -45%;
        top: 100%;
        
        li{
            display: block;
        }
        a{
            display: block;
            padding: 15px 20px;
            font-weight: 400;
        }
        transform: translateY(50%); 
        opacity: 0;
        transition: all 0.5s ease;
        pointer-events: none;
    }

    &-list li:hover > &-nav {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
    }

    &-link{
       
        color: black;
        font-weight: 500;
        transition:  all 0.3s linear; 
        &:hover{
            color: $orange-red!important;
           
        }
    }

    &-item:not(:first-child){
        margin-left: 40px;
    }

    &-detail{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 86px;
        div{
            margin-left: 30px;
        }
        ion-icon{
            font-size: 20px;
            
        }
    }

    &-cart{
        position: relative;
    }

    &-cart-detail{
        background-color: #252a2c;
        color: #fff;
        position: absolute;
        right: 0;
        top: 235%;
        min-width: 320px;
        z-index: 10;
        margin-left: 0!important;
        transform: scale(0);
        transition: all 0.3s ease-in-out;
        transform-origin: calc(100% - 10px) 0;
        div{
            margin-left: 0;
        }
    }

    &-cart-content {
        flex: 1;
        margin-left: 10px!important;
        display: flex;
        flex-direction: column; 
    }

    &-cart-top{
        max-height: 242px;
        overflow-y: auto;
        width: 100%;
    }

    &-cart-bottom{
        padding: 15px;
        width: 100%;
        
    }

    &-cart-subtax{
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-cart-subtotal{
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 500;
        font-size: 18px;
    }
    &-cart-subtax:nth-child(2){
        margin: 10px 0;
    }
    &-cart-button{
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -12px!important;
        
        .cart-button{
            color: #fff;
            padding: 15px 20px;
            margin-left: 12px;
            font-size: 16px;
            border-radius: 5px;
            position: relative;
        }
        .cart-button:before{
            content: "";    
            position: absolute;
            left: 0;
            top: 0;
            width: 55%;
            height: 100%;
            z-index: -1;
            border-radius: inherit;
            transition: all 0.3s ease-in-out;
        }
        .cart-button::after{
            content: "";     
            position: absolute;
            right: 0;
            top: 0;
            width: 55%;
            height: 100%;
            z-index: -1;
            border-radius: inherit;
            transition: all 0.3s ease-in-out;
        }
        .viewcart-button.cart-button::before,
        .viewcart-button.cart-button::after{
            background-color: #3c4347;
        }
        .checkout-button.cart-button::before,
        .checkout-button.cart-button::after{
            background-color: $orange-red;
        }

        .cart-button:hover::before,
        .cart-button:hover::after{
            width: 0;
            transition: all 0.3s ease-in-out;
        }
    }

    &-cart-item{
        display: flex;  
        padding: 15px;
        border-bottom: 1px solid rgba(243, 241, 241, 0.418);   
    }

    &-cart-name{
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        a,ion-icon {
            color: #fff!important;
            font-size: 16px;
            font-weight: 500;
            transition: all 0.3s linear;
        }
        a:hover{
            color: $orange-red!important;
        }
        ion-icon{
            font-size: 22px;
                       
        }
    }

    &-cart-size{
        margin-top: 15px;
        font-size: 14px;
        letter-spacing: 1px;
    }

    &-cart-price{
        margin-top: auto;
       font-size: 18px;
       font-weight: 500;
    }

    &-cart-oimg{
        max-width: 90px;
        
        img{
            width: 100%;
        }
    }

    &-cart.active .header-cart-detail{
        transform: scale(1);
    }



    &-input{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(60%, -100%);
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: $orange-red;
        display: flex;
        align-items: center;
        justify-content: center;
        span{
            font-size: 10px;
            color: white; 
            vertical-align: middle;
        }
    }

    &-like{
        position: relative;
    }

    &-bottom{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }

    &-bar{
        font-size: 20px;
        i{
            color: #000;
        }
        display: none;
    }

    &-search{
        position: relative;
        // line-height: 86px;
    }

    &-search-input{
        position: absolute;
        top: 100%;
        z-index: 10;
        max-height: 0px;
        overflow: hidden;
        margin-left: 0!important;
        transform: translate(-50%,52%);
        transition: all 0.7s ease-in-out;
        form{
            border-radius: inherit;
            display: flex;
            align-items: center;
            background-color: #fff;
            padding: 20px;
            border-radius: 100rem;
        }
        input{
            
            border: none;
        }
    }
    @media screen and (min-width: 1024px) {
        &-menu-bar{
            display: none;
        }
    }
    

    

    @media screen and (max-width: 1023px) {
        &-title{
            line-height: 86px;
        }
       
        &-menu{
            display: none;
        }

        &-bar{
            display: block;
        }
        //reponsive menu
        &-menu-bar{
            position: fixed;
            margin-left: auto!important;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 375px;
            height: 100%;
            background-color: rgba(0,0,0,0.9);
            z-index: 999;
            transform: translateY(-100%);
            transition: all 0.3s ease-in-out;
            opacity: 0;
            &.active{
                transform: none;
                opacity: 1;
            }
            .header-list{
                margin-top: 70px;
                .header-item{
                    margin-top: 30px;
                }
                .header-item > .header-link{
                    display: inline;
                    line-height: 1;
                }
            }
            .header-item{
                display: block;
                height: fit-content;
                ion-icon{
                    display: inline-block;
                    position: relative;
                    left: 70%;
                    color: #fff;
                    cursor: pointer;
                              
                }
                .dbar-2{
                    margin-left: 2px;
                }       
               
                .header-bar-item{
                    display: flex;
                    align-items: center;
                    margin-left: 0;
                    
                    .header-link{
                        text-transform: uppercase;
                        
                    }
                    
                }
                .header-nav-menu{              
                    margin-left: 30px;
                    max-height: 0px;
                    overflow: hidden;
                    transition: 0.3s ease-in-out;                
                    .header-link{
                        margin-top: 20px;
                        
                    }                   
                }
                
                
            }
            
            .header-item:first-child{
                margin-left: 40px;
            }
            .header-link{
                color: #fff;
                display: block;
                width: 100%;
                transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
                
            }
            .header-close{
                position: absolute;
                right: 11px;
                top: 15px;
                width: fit-content;
                cursor: pointer;
                ion-icon{
                    font-size: 33px;
                    color: #fff;
                }
            }
           
        }
        .header-bar-item.active > ion-icon{
            transform: rotate(180deg);
        }

    }

    @media screen and (max-width: 992px){
        &-right{
           display: none!important; 
        }

        &-left{
            justify-content: space-between;
        }
        &-phone{
            border: none;
        }
        
    }

    @media screen and (max-width: 767px) {
        &-top{
            display: none;
        }
        &-bottom .row{
            flex-wrap: nowrap;
        }
        &-title {
            line-height: 60px;
            font-size: 30px;
        }
        &-cart-detail {
            right: -90px;
            transform-origin: calc(100% - 100px) 0;
        }
    }
    @media screen and (max-width: 415px) {
        &-menu-bar{
            width: 100%;
        }
    }
    
    
    
  


}
